.button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
  
    padding: 12px 16px;
  
    font: inherit;
    font-weight: 700;
  
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: var(--default-transition);
}

.button:focus {
    box-shadow: var(--box-shadow-focus)
}
    
.button:hover {
    filter: opacity(.8);
}

.button[disabled]:hover {
    filter: none;
}
  
.primary {
    composes: button;
    background-color: var(--interactive-primary);
    color: var(--text-interactive);
}

.secondary-white {
    composes: button;
    background-color: transparent;
    color: var(--text-interactive);
    border: 1px solid var(--ui-background);
}

.primary > img, .secondary-white > img {
    filter: invert();
}

.secondary {
    composes: button;
    background-color: transparent;
    color: var(--text-primary);
    border: 1px solid var(--interactive-primary);
}

.secondary:hover {
    background-color: var(--interactive-primary);
    color: var(--text-interactive);
}

.small {
    composes: button;
    padding: 6px 8px;
}

