.category {
  margin-bottom: 24px;
}

.return {
  padding-left: 16px;
}

.jsx {
  padding-left: 16px;
  max-width: 400px;
}

.h2 {
  padding-left: 16px;
}

.projectCards {
  padding: 16px;

  display: flex;
  flex-direction: row;

  scroll-snap-type: x;
  overflow-x: scroll;

  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projectCards::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1200px) {
  .projectCards {
    overflow: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
