.experienceContainer {
    display: flex;
    flex-direction: column;
}

.experienceBubble {
    background: var(--ui-background);
    padding: 24px;
    border: 1px solid var(--ui-border);
    border-radius: var(--border-radius);
    margin-bottom: 24px;
}

.experienceName {
    margin-top: 4px;
    margin-bottom: 4px;
}

.experiencePeriod,
.experienceLocation {
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    font-size: 12px;
    margin-bottom: 4px;
}

.experienceLocation > svg {
    margin-right: 4px;
}

.experienceDescription {
    font-size: 14px;
}