.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--ui-background);
  border-bottom: 1px solid var(--ui-border);

  padding: 12px 24px;
  position: sticky;
  z-index: 10;
  top: 0px;
}

.header h5 {
  transition: var (--default-transition);
}
.header h5 a:hover {
  filter: opacity(.8);
}

.burgerMenu {
  display: none;
}

.actions {
  display: flex;
  gap: 40px;
}

.actions a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--text-primary);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.actions a:hover {
  background: var(--ui-background-light);
}

@media (max-width: 400px) {
  .header { 
    padding: 12px 16px;
  }
  
  .actions {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
}
