.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--ui-background);
  border-bottom: 1px solid var(--ui-border);
  /* box-shadow: var(--box-shadow-small); */

  padding: 12px 24px;
  position: sticky;
  z-index: 10;
  top: 0px;
}

/* Logo */
.header .headerLogo {
  display: inherit;
  cursor: pointer;
  transition: var (--default-transition);
}
.header .headerLogo:hover {
  filter: opacity(.8);
}

.burgerMenu {
  display: none;
}

.actions {
  display: flex;
  gap: 40px;
}

.navLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--text-primary);
  font-size: 14px;
  font-variation-settings: "wght" 700;
  text-transform: uppercase;
}

.navLink:hover {
  color: var(--text-primary);
  background: var(--ui-background-light);
}

@media (max-width: 768px) {
  .header { 
    padding: 12px 16px;
  }
  .actions {
    display: none;
  }
  .burgerMenu {
    display: flex;
    align-items: center;
  }
}
