.image:hover {
  cursor: zoom-in;
}

.imageContainerOpen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  
  background-color: var(--ui-background-overlay);
  backdrop-filter: blur(4px);

  transition: var(--default-transition);

  overflow: hidden;
}

.imageOpen {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
  
.imageContainerOpen:hover {
  cursor: zoom-out;
}
