.manifesto {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-bottom: 120px;
  padding-top: 120px;
}

.manifestoText {
  text-transform: lowercase;
}

.manifestoActions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: 0;
  gap: 8px;
}

@media (max-width: 400px) {
  .manifesto {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}