.manifesto {
  margin-bottom: 24px;
}

.manifestoText {
  margin-left: 48px;
  margin-right: 48px;
}

@media (max-width: 400px) {
  .manifesto {
    margin-bottom: 100px;
  }
  .manifestoText {
    margin-left: 24px;
    margin-right: 0px;
  }
}

@media (min-width: 1200px) {
  .manifesto {
    margin-bottom: 100px;
  }
  .manifestoText {
    max-width: 75%;
  }
}
