.manifesto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  /* padding: 40px 24px; */

  border-bottom: 1px solid var(--ui-border);
  background: url("/svg/bk-5.svg") var(--ui-background);
  background-size: cover;
  background-position: center center;

  height: 88vh;
}

.manifesto > .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;

  padding: 40px 24px;

  backdrop-filter: blur(20px);
}

.manifestoText {
  font-size: 7vh;
  
}

.manifestoSubtext {
  margin-bottom: 16px;
}

.manifestoActions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: 0;
  gap: 8px;
}

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  .manifestoActions:not(:last-child) {
    margin-right: 8px;
  }
}

.manifestoScroll {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

@media (max-width: 768px) {
  .manifesto {
    padding: 16px;
    justify-content: flex-start;
    background-position: top;
    height: 77vh;
  }
  .manifesto h1 {
    font-size: 6vw;
    margin-bottom: 24px;
  }
  .manifestoScroll {
    bottom: 16px;
    right: 16px;
  }
  .manifestoScroll img {
    height: 60px;
    width: 60px;
  }
}