.projectCard {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 40px;

  background: var(--ui-background);
  border-radius: var(--border-radius);

  overflow: hidden;
  scroll-snap-align: center;

  cursor: pointer;
}

.projectCard + .projectCard {
  margin-top: 40px
}

.projectDetails {
  display: flex;
  flex-direction: column;
}

.projectHeroImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
