.projectCard {
  height: 50vh;
  width: calc((100vw - (5 * 16px)) * (3 / 4));

  flex-shrink: 0;
  margin-right: 16px;

  border-radius: 12px;

  overflow: hidden;

  background: linear-gradient(
    215.54deg,
    #8efe52 -51.53%,
    #91e1f3 -3.4%,
    #b566ff 53.85%,
    #f2994a 107.78%
  );
}
.projectDetails {
  padding: 8px 16px 16px 24px;

  background: var(--glass-dark);
  backdrop-filter: blur(10px);

  position: relative;
  bottom: 0;
}
