.projectCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;

  background-color: var(--ui-background);
  overflow: hidden;
  transition: var(--default-transition);

  cursor: pointer;

  padding: 40px 0px;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: auto;
  flex: 1;
  padding: 40px;
  max-width: 500px;
}

.projectName {
  transition: var(--default-transition);
}

.projectCard + .projectCard {
  border-top: 1px solid var(--ui-border);
}

@media (min-width: 768px) {
  .projectCard:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .projectCard:nth-of-type(odd) .projectDetails {
    margin-left: auto;
  }
}

.projectTags {
  font-size: 12px;
  line-height: 20px;
  /* white-space: nowrap; */
  color: var(--text-tertiary);
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.projectDetails p {
  font-size: 14px;
  color: var(--text-secondary);
}

.projectHeroImage {
  flex: 1;
  height: 100%;
}

@media (max-width: 768px) {
  .projectCard {
    flex-direction: column;
    height: 70vh;
  }

  .projectCard:hover {
    outline: none;
  }

  .projectDetails {
    padding: 16px;
  }

  .projectDetails, .projectHeroImage {
    width: 100%;
  }

  .projectHeroImage {
    height: 50vh;
  }
}
