
:root {
    --text-primary: #17181C;
    --text-interactive: #FFFFFF;
    
    --interactive-primary: #17181C;
  
    --ui-background: #FCFCFD;
    --ui-background-light: #F4F4F6;
  
    --ui-border: #F1EFEF;
  
    --border-radius: 12px;
    --default-transition: 200ms;
    --box-shadow-default: 0px 2px 10px rgba(0, 0, 0, 0.15);
    --box-shadow-focus: 0px 0px 0px 4px rgba(35, 123, 255, 0.16);
  }