:root {
    --text-primary: #101114;
    --text-secondary: #454754;
    --text-tertiary: #73778C;
    --text-interactive: #FCFCFD;
    
    --interactive-primary: #101114;
  
    --ui-background: #FCFCFD;
    --ui-background-overlay: #FCFCFDd9;
    --ui-background-light: #F4F4F6;
    --ui-background-contrast: #101114;
  
    --ui-border: #EEEFF1;
  
    --border-radius: 4px;

    --quick-transition: 200ms;
    --default-transition: 400ms;

    --box-shadow-small: 0px 2px 10px rgba(0, 0, 0, 0.10);
    --box-shadow-default: 0px 2px 10px rgba(0, 0, 0, 0.15);
    --box-shadow-focus: 0px 0px 0px 4px rgba(35, 123, 255, 0.16);
}

.dark {
  --text-primary: #FCFCFD;
  --text-secondary: #ABADBA;
  --text-tertiary: #8F92A3;
  --text-interactive: #101114;
  
  --interactive-primary: #FCFCFD;

  --ui-background: #101114;
  --ui-background-overlay: #101114d9;
  --ui-background-light: #2E3038;
  --ui-background-contrast: #FCFCFD;

  --ui-border: #373943;

  --box-shadow-small: 0px 2px 10px rgba(0, 0,0, 0.6);
  --box-shadow-default: 0px 2px 10px rgba(0, 0, 0, 0.15);
  --box-shadow-focus: 0px 0px 0px 4px rgba(35, 123, 255, 0.16);
}

.text-secondary {
  color: var(--text-secondary);
}

.bk-white {
  background-color: var(--ui-background);
}

.bk-light {
  background-color: var(--ui-background-light);
}

.bk-dark {
  color: var(--text-interactive);
  background-color: var(--ui-background-contrast);
}

.bk-volt {
  background: url(/svg/bk-volt.svg);
  background-size: cover;
  background-position: center center;
}
