:root {
    --text-primary: #17181C;
    --text-secondary: #454754;
    --text-interactive: #FFFFFF;
    
    --interactive-primary: #17181C;
  
    --ui-background: #FCFCFD;
    --ui-background-light: #F4F4F6;
    --ui-background-contrast: #17181C;
  
    --ui-border: #F1EFEF;
  
    --border-radius: 12px;
    --default-transition: 400ms;
    --box-shadow-small: 0px 2px 10px rgba(0, 0, 0, 0.10);
    --box-shadow-default: 0px 2px 10px rgba(0, 0, 0, 0.15);
    --box-shadow-focus: 0px 0px 0px 4px rgba(35, 123, 255, 0.16);
}

.text-secondary {
  color: var(--text-secondary);
}

.bk-white {
  background-color: var(--ui-background);
}

.bk-light {
  background-color: var(--ui-background-light);
}

.bk-dark {
  background-color: var(--ui-background-contrast);
}