@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap");

@font-face {
  font-family: "Gustavo";
  src: url("/fonts/Gustavo-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gustavo";
  src: url("/fonts/Gustavo-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

:root {
  --cursor: url("/svg/cursor.svg") 4 1, auto;
  --pointer: url("/svg/pointer.svg") 4 1, auto;
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: "Gustavo", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 160%;

  color: var(--white);
  background: var(--dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  position: relative;
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

:focus {
  outline: none;
}

button {
  cursor: var(--pointer);
}

img {
  -webkit-user-drag: none;
}

h1 {
  font-family: "Gustavo";
  font-size: 23px;
  font-weight: normal;
  line-height: 150%;
}

h2 {
  font-family: "Gustavo";
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5em;
}

h3 {
  font-family: "Gustavo";
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-family: "Gustavo";
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5em;
}

.lead {
  font-family: "Gustavo";
  font-size: 13px;
  font-weight: normal;
}

.comment {
  font-family: "Gustavo";
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3em;
  color: var(--light);
}

.button {
  font-family: "Gustavo";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.code {
  font-family: "IBM Plex Mono";
  font-size: 12px;
  font-weight: 600;

  color: var(--white);
  opacity: 0.4;
}

.container {
  /* max-width: 1200px; */
  margin: auto;
  padding: 48px;
}

.backgroundImage {
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImage > img {
  width: 1500px !important;
  height: 1500px !important;
}

.layerBlur {
  filter: blur(4px);
}

.code-purple {
  color: var(--code-purple);
}

.code-blue {
  color: var(--code-blue);
}

.code-green {
  color: var(--code-green);
}

.code-orange {
  color: var(--code-orange);
}

@media (max-width: 400px) {
  .container {
    padding: 16px;
  }

  .code {
    font-size: 3vw;
    line-height: 1em;
  }

  h1 {
    font-size: 5.6vw;
  }

  h2 {
    font-size: 5.6vw;
  }

  h4 {
    font-size: 5.6vw;
  }

  .comment {
    font-size: 4vw;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 24px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 36px;
  }
}
