@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk.ttf") format('truetype');
  font-weight: 1 999;
}


html {
  max-width: 100vw;
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: "Space Grotesk", -apple-system, Helvetica Neue, sans-serif;

  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-primary);
  background: var(--ui-background-light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  position: relative;
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

/* remove ul default disc type */
ul, li {
  list-style-type: none;
}

:focus {
  outline: none;
}

img {
  max-width: 100%;
  -webkit-user-drag: none;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

h5 {
  font-size: 20px;
  font-weight: 600;
}

.text-lead {
  font-size: 24px;
  font-weight: normal;
}

.text-body {
  line-height: 24px;
  margin-bottom: 24px;
}

.text-body:last-of-type {
  margin-bottom: 0px;
}

.small {
  font-size: 12px;
  font-weight: normal;
}

#hero {
  height: 80vh;
}



/* Mobile Only */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }

  .text-lead {
    font-size: 24px;
  }

  .text-body {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
  }
}

